@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./syntax-highlight.css";

h2,
h3,
h4,
h5,
h6 {
  .heading-link {
    margin-left: 0.2rem;
    opacity: 0;
    text-decoration: none;
  }
  &:hover {
    .heading-link {
      opacity: 1;
    }
  }
}
